<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">password</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/supermercati</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="connection.pool_size">10</property>
   
  <property name="hbm2ddl.auto">validate</property>
  
  <property name="current_session_context_class">thread</property>
  <property name="show_sql">true</property>
  <property name="format_sql">true</property>
  <mapping resource="hibernate/Supermercato.hbm.xml"/>
  <mapping resource="hibernate/Utente.hbm.xml"/>
  <mapping resource="hibernate/Argomenti.hbm.xml"/>
  <mapping resource="hibernate/Categoria.hbm.xml"/>
  <mapping resource="hibernate/Inserzione.hbm.xml"/>
  <mapping resource="hibernate/ListaDesideri.hbm.xml"/>
  <mapping resource="hibernate/ListaSpesa.hbm.xml"/>
  <mapping resource="hibernate/ListaDesideriProdotti.hbm.xml"/>
  <mapping resource="hibernate/ListaSpesaProdotti.hbm.xml"/>
  <mapping resource="hibernate/Prodotto.hbm.xml"/>
  <mapping resource="hibernate/Profilo.hbm.xml"/>
  <mapping resource="hibernate/Sottocategoria.hbm.xml"/>
  <mapping resource="hibernate/ValutazioneInserzione.hbm.xml"/>
  <mapping resource="hibernate/ArgomentiInserzione.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
